:root {
  --pink: #fe9a81;
  --purple: #8572b6;
  --light: #E9E6DF;
  --dark: #2f3e4d;
}

body {
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

@media (max-width: 770px) {
  body {
    height: auto;
    min-height: 100%;
  }
}
