.custom-footer {
  font-size: 11px;
  text-align: center;
  color: var(--pink);
}
.custom-footer a {
  color: var(--light);
  text-decoration: none;
}
.custom-footer a:hover {
  transition: all 0.3s ease-in-out; 
  transition: scale 0.3s ease-in-out;
}
.custom-footer p {
  margin: 0;
}
