.humidity-container {
  text-align: center;
}

.value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

.label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.advice {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.humidity-bar {
  background: linear-gradient(
    to right,
    var(--light),
    var(--purple),
    var(--dark)
  );
  border-radius: 6px;
  height: 12px;
  margin-bottom: 10px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--pink);
  border: 2px solid var(--light);
  filter: drop-shadow(0 0 4px var(--pink));
  transition: all 0.3s ease;
}
