.pressure-gauge-full {
  background: radial-gradient(circle at center, var(--purple) 1%, var(--pink) 100%);
  border-radius: 50%;
  box-shadow: 0 0 8px var(--pink), 0 0 16px var(--pink), 0 0 24px var(--pink);
  height: 160px;
  position: relative;
  width: 160px;
}
 
.pressure-label {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

.icon-center {
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 8px var(--pink), 0 0 16px var(--pink), 0 0 24px var(--pink);
  display: flex;
  height: 75px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  z-index: 1;
}


.needle {
  background-color: var(--dark);
  height: 40%;
  left: 50%;
  position: absolute;
  top: 10%;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
  width: 2px;
  z-index: 2;
}

.center-dot {
  background: var(--pink);
  border-radius: 50%;
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  z-index: 3;
}