.pressure-gauge-full {
  background: radial-gradient(circle at center, var(--purple) 1%, var(--pink) 100%);
  border-radius: 50%;
  border: 3px solid var(--pink);
  height: 160px;
  position: relative;
  width: 160px;
}
 
.pressure-label {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

.pressure-icon-center {
  left: 50%;
  position: absolute;
  top: 52%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.needle {
  position: absolute;
  top: 10%;
  left: 49%;
  width: 2px;
  height: 40%;
  background-color: var(--dark);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.center-dot {
  background: var(--pink);
  border-radius: 50%;
  height: 12px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  z-index: 3;
}