.Weather {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  max-width: 800px;
  padding: 10px;
}

.Weather form {
  margin: 5px;
}

.Weather input {
background-color: rgba(252, 154, 129, 0.7);
  border-radius: 8px;
  border: none;
  color: var(--dark);
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}



.Weather .btn {
  background-color: rgba(252, 154, 129, 0.7);
  border-radius: 8px;
  color: var(--dark);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.Weather h1,
.Weather h5,
.Weather span,
.Weather sup {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.loader-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  justify-content: center;
  text-align: center;
}


@media (max-width: 770px) {
  .Weather {
    margin: 10px auto;
    max-width: 98%;
    padding: 10px;
  }
  .Weather h1 {
    font-size: 24px;
  }
  .Weather li {
    font-size: 14px;
  }
}
