.WeeklyForecast {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.WeeklyForecast .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.WeeklyForecast .col {
  flex: 1;
  min-width: 0;
  text-align: center;
}

.WeeklyForecast .temperature {
  white-space: nowrap;
}

.WeeklyForecast .min {
  color : var(--pink);
  margin-left: 5px;
}

