.compass-container {
  height: 160px;
  position: relative;
  width: 160px;
}

.compass {
  background: radial-gradient(
    circle at center,
    var(--purple) 1%,
    var(--pink) 100%
  );
  border-radius: 50%;
  border: 3px solid var(--pink);
  height: 160px;
  position: relative;
  width: 160px;
}

.dir {
  color: var(--light);
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

.n {
  left: 50%;
  top: 4px;
  transform: translateX(-50%);
}
.e {
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
.s {
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.w {
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.dial-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* other styling is in Pressure.css */
